/* .body, .paragraph-container, .mission-statement, .about-us {
  font-family: 'Roboto', sans-serif;
} */

/* For different screen sizes specifically */
/* iPhone SE */
@media (max-width: 375px) and (max-height: 667px) {
    .mission-statement {
      font-size: 20px !important;
    }

    .about-us {
      font-size: 15px !important;
    }
  }

/* Colors:
  (p-container)        +    (background)
  #691E59(orig plum)        #2E2E2E(charcoal gry)
  #817A67(taupe)            #F5F5DC(neutral wht)      ***Favorite combo***
  #A5947A(light taupe)      
*/

#logo {
  width: 25%;
}

header {
    background-color: #653A3D;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5DC !important;
    margin-top: env(safe-area-insert-top);
}

.btn {
    color: white !important;
}

.paragraph-container {
    background-color: #817A67;
    color: white;
    border-radius: 25px;
    font-size: 25px;
}

footer {
    position: fixed bottom;
    padding: 10px;
    color: white;
    background-color: #653A3D;
}

.contact ul {
    display: inline-block;
    list-style-type: none;
}