@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/dist/js/bootstrap.bundle.min.js';
@import '../assets/stylesheets/bootstrap5.css';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}

/* For different screen sizes specifically */
/* iPhone SE */
@media (max-width: 375px) and (max-height: 667px) {
    .mission-statement {
      font-size: 20px !important;
    }

    .about-us {
      font-size: 15px !important;
    }
  }
  
  /* iPhone XR */
@media (max-width: 414px) and (max-height: 896px) {
  /* Styles for iPhone XR */
}

/* iPhone 12 Pro */
@media (max-width: 390px) and (max-height: 844px) {
  /* Styles for iPhone 12 Pro */
}

/* iPhone 12 Pro Max */
@media (max-width: 428px) and (max-height: 926px) {
  /* Styles for iPhone 12 Pro Max */
}

/* iPad */
@media (max-width: 768px) and (max-height: 1024px) {
  /* Styles for iPad */
}

/* iPad Pro */
@media (max-width: 1024px) and (max-height: 1366px) {
  /* Styles for iPad Pro */
}

/* Pixel 2 */
@media (max-width: 411px) and (max-height: 731px) {
  /* Styles for Pixel 2 */
}

/* Pixel 2 XL */
@media (max-width: 411px) and (max-height: 823px) {
  /* Styles for Pixel 2 XL */
}

/* Pixel 4 */
@media (max-width: 411px) and (max-height: 869px) {
  /* Styles for Pixel 4 */
}

/* Pixel 4 XL */
@media (max-width: 411px) and (max-height: 823px) {
  /* Styles for Pixel 4 XL */
}

/* Galaxy S5 */
@media (max-width: 360px) and (max-height: 640px) {
  /* Styles for Galaxy S5 */
}

/* Galaxy S9 */
@media (max-width: 360px) and (max-height: 740px) {
  /* Styles for Galaxy S9 */
}

/* Galaxy S9 Plus */
@media (max-width: 360px) and (max-height: 740px) {
  /* Styles for Galaxy S9 Plus */
}

/* Galaxy Note 9 */
@media (max-width: 360px) and (max-height: 740px) {
  /* Styles for Galaxy Note 9 */
}

/* Galaxy Fold (folded) */
@media (max-width: 280px) and (max-height: 653px) {
  /* Styles for Galaxy Fold (folded) */
}

/* Galaxy Fold (unfolded) */
@media (max-width: 653px) and (max-height: 280px) {
  /* Styles for Galaxy Fold (unfolded) */
}

/* Surface Duo (single screen) */
@media (max-width: 540px) and (max-height: 720px) {
  /* Styles for Surface Duo (single screen) */
}

/* Surface Duo (dual screen) */
@media (max-width: 720px) and (max-height: 540px) {
  /* Styles for Surface Duo (dual screen) */
}

/* Normal CSS from here */
header {
    position: relative; 
    background-color: #653A3D;
    color: white;
    padding: 10px 0;
    min-width: 100%;
    font-size: 65px;
    text-shadow: maroon 0.20rem 0.20rem;
    padding-top: env(safe-area-insert-top);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black !important;
    margin-top: env(safe-area-insert-top);
}

/* Scrolling start */
/* .scroll-warpper {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.album-card {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 1rem;
} */

.adjustable-img {
    object-fit: cover;
    margin-top: 10px;
}

.btn {
    color: white !important;
}

.statement-container {
    margin: auto;
}

/* .paragraph-container {
    background-color: #691E59;
    color: white;
    border-radius: 25px;
    font-size: 25px;
} */

.paragraph-container {
    /* background-color: #A5947A; */
    /* background-color: #817A67; */
    /* background-color: #817A67; */
    /* background-color: #817A67; */
    background-color: #817A67;
    color: white;
    border-radius: 25px;
    font-size: 25px;
}

.pricing-main {
    background-color: #691E59;
    color: white;
    border-radius: 25px;
    font-size: 25px;
}

.about-us {
    background-color: #691E59;
    color: white;
    border-radius: 25px;
    font-size: 20px;
}

#wine-candle-1,
#wine-candle-2 {
  border-radius: 30px;
}

footer {
    position: fixed bottom;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    color: white;
    background-color: #653A3D;
}

.contact ul {
    display: inline-block;
    text-align: center;
    list-style-type: none;
}