@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/dist/js/bootstrap.bundle.min.js';
@import '../assets/stylesheets/bootstrap5.css';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}

/* For different screen sizes specifically */
@media (max-width: 600px) {
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black !important;
}

header {
    position: relative; 
    background-color: #653A3D;
    color: white;
    padding: 10px 0;
    width: 100%;
    font-size: 65px;
    text-shadow: maroon 0.20rem 0.20rem;
}

.adjustable-img {
    width: 100%;
    object-fit: cover;
    scroll-margin-bottom: 50px;
    margin-top: -175px;
    background-position: center;
}

.statement-container {
    margin: auto;
}

.mission-statement {
    background-color: #691E59;
    color: white;
    padding: 20px;
    border-radius: 25px;
    font-size: 30px;
}

.about-us {
    background-color: #691E59;
    color: white;
    padding: 5px;
    padding-top: 50px;
    border-radius: 25px;
    font-size: 20px;
}

.center-content p {
    text-align: center;
    margin: 10px;
}

footer {
    position: fixed bottom;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    color: white;
    background-color: #653A3D;
}

.contact ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
}