@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/dist/js/bootstrap.bundle.min.js';
@import '../assets/stylesheets/bootstrap5.css';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: absolute; 
    background-color: #653A3D;
    color: white;
    padding-top: 100px;
    padding: 10px 0;
    width: 100%;
    font-size: 65px;
    text-shadow: blue 0.20rem 0.20rem;
}

/* Image: Large Screens */
.adjustable-img {
    width: 100%;
    object-fit: cover;
    scroll-margin-bottom: 50px;
    margin-top: -175px;
    background-position: center;
}

.statement-container {
    margin: auto;
}

.mission-statement {
    background-color: #691E59;
    color: white;
    padding: 20px;
    border-radius: 25px;
    font-size: 30px;
}

.about-us {
    background-color: #691E59;
    color: white;
    padding: 5px;
    padding-top: 50px;
    border-radius: 25px;
    font-size: 20px;
}

.center-content p {
    text-align: center;
    margin: 10px;
}

/* Footer */
footer {
    position: fixed bottom;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    padding: 10px;
    margin: auto;
}

.contact ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
}

#phone_number {
    color: #6F4A7E;
    text-decoration: none;
}